$myColor: red;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  color: $myColor;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

  & > li {
    float: right;

    & * {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      cursor: pointer;
      
      &:hover {
        background-color: #111;
      }
    } 
  }
}

// .nav-bar {
//   // background-color: aquamarine;
//   display: flex;
//   flex-direction: row;
  
//   &-wrapper {
//     width: 100vw;
//     display: table-cell;
//     // height: 45px;
//     background-color: aquamarine;
//     vertical-align: middle;
//   }

//   & > div {
//     align-items: stretch;
//     width: 80px;
//     margin: auto;
//     padding: auto auto;
//     height: 100%;
//     border: 1px solid black;
//     /* You can also add some margins here to make it look prettier */
//     /* this fix is needed for IE7- */
//     }
// }

